In [167]:
import numpy as np
import pandas as pd

# Load data
data=pd.read_csv('HR_comma_sep.csv')

data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [168]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Departments            14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [169]:
#displays the count of each class in the column
data['Departments'].value_counts()

Departments
sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: count, dtype: int64

In [170]:
#finds the unique classes in the column
data['Departments'].unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [171]:
data['salary'].unique()

array(['low', 'medium', 'high'], dtype=object)

In [172]:
# Import LabelEncoder
#label encoding is done to convert categorical data to numerical form
#neural network operate on numerical data

from sklearn import preprocessing

# Creating labelEncoder
le = preprocessing.LabelEncoder()
print(le)
# Converting string labels into numbers.
data['salary']=le.fit_transform(data['salary'])
data['Departments']=le.fit_transform(data['Departments'])

LabelEncoder()

In [173]:
data['salary'].unique()

array([1, 2, 0])

In [174]:
X=data.iloc[:,:-1]
X

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments
0,0.38,0.53,2,157,3,0,1,0,7
1,0.80,0.86,5,262,6,0,1,0,7
2,0.11,0.88,7,272,4,0,1,0,7
3,0.72,0.87,5,223,5,0,1,0,7
4,0.37,0.52,2,159,3,0,1,0,7
...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,8
14995,0.37,0.48,2,160,3,0,1,0,8
14996,0.37,0.53,2,143,3,0,1,0,8
14997,0.11,0.96,6,280,4,0,1,0,8
14998,0.37,0.52,2,158,3,0,1,0,8

In [175]:
# Spliting data into Feature and
#X=data[['satisfaction_level', 'last_evaluation', 'number_project', 'average_montly_hours', 'time_spend_company',
        #'Work_accident', 'promotion_last_5years','Departments','salary']]

y=data['left']

#random_state=42 ensures that the split will always produce the same training and testing sets each time the code runs.
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)  # 70% training and 30% test

In [176]:
X_train

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments
12602,0.10,0.84,7,250,4,0,1,0,6
4889,0.57,0.68,4,154,3,1,0,0,4
1572,0.39,0.48,2,154,3,0,1,0,9
13375,0.91,0.68,4,132,4,0,0,0,0
879,0.82,0.97,5,263,5,0,1,0,9
...,...,...,...,...,...,...,...,...,...
5191,0.52,0.96,4,246,3,0,0,0,8
13418,0.49,0.65,4,233,7,0,0,0,7
5390,0.66,0.73,5,249,2,0,0,0,8
860,0.79,1.00,4,218,5,0,1,0,7
7270,0.98,0.86,2,219,4,0,0,0,7

In [177]:
y_train

12602    1
4889     0
1572     1
13375    0
879      1
        ..
5191     0
13418    0
5390     0
860      1
7270     0
Name: left, Length: 10499, dtype: int64

In [228]:
# Import MLPClassifer
from sklearn.neural_network import MLPClassifier

# Create model object
clf = MLPClassifier(
                    hidden_layer_sizes=(6,5),
                    random_state=5,
                    verbose=True,
                    learning_rate_init=0.01,
                   
                   )

# Fit data onto the model
clf.fit(X_train,y_train)

Iteration 1, loss = 0.63381817
Iteration 2, loss = 0.56869256
Iteration 3, loss = 0.52901160
Iteration 4, loss = 0.41619901
Iteration 5, loss = 0.22563960
Iteration 6, loss = 0.08336998
Iteration 7, loss = 0.03414106
Iteration 8, loss = 0.01796308
Iteration 9, loss = 0.01084303
Iteration 10, loss = 0.00601714
Iteration 11, loss = 0.00164295
Iteration 12, loss = 0.00069395
Iteration 13, loss = 0.00045343
Iteration 14, loss = 0.00033431
Iteration 15, loss = 0.00026955
Iteration 16, loss = 0.00021737
Iteration 17, loss = 0.00018389
Iteration 18, loss = 0.00015923
Iteration 19, loss = 0.00013887
Iteration 20, loss = 0.00012308
Iteration 21, loss = 0.00011016
Iteration 22, loss = 0.00009968
Iteration 23, loss = 0.00009062
Iteration 24, loss = 0.00008412
Iteration 25, loss = 0.00007686
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(6, 5), learning_rate_init=0.01,
              random_state=5, verbose=True)

In [230]:
# Make prediction on test dataset
ypred=clf.predict(X_test)

# Import accuracy score
from sklearn.metrics import accuracy_score

# Calcuate accuracy
accuracy_score(y_test,ypred)

1.0

In [232]:
X_test.shape

(4500, 9)

In [234]:
new_d=np.array([[0.70,0.59,3,273,2,0,0,0,8]])
new_d.shape

(1, 9)

In [236]:

new_data=clf.predict(new_d)
print(new_data)

[0]

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  warnings.warn(

In [238]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.76      1.00      0.86      3428
           1       0.00      0.00      0.00      1072

    accuracy                           0.76      4500
   macro avg       0.38      0.50      0.43      4500
weighted avg       0.58      0.76      0.66      4500

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HP\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HP\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [240]:
from sklearn.metrics import confusion_matrix
y_pred = clf.predict(X_test)
print(confusion_matrix(y_test, y_pred))

[[3428    0]
 [   0 1072]]

In [242]:
print(y_train.value_counts())
print(y_test.value_counts())

left
0    8000
1    2499
Name: count, dtype: int64
left
0    3428
1    1072
Name: count, dtype: int64